@import url('../../shared/styles/reports.css');

#tags-table {
  display: table;
  table-layout: fixed;
  width: 100% !important;
  text-align: center;
}

.name-th {
  width: 20%;
}

.button-th {
  width: 10%;
}

.mat-header-cell {
  text-align: center;
}

.table-caption {
  display: none;
}
