<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre del paciente</mat-label>
    <input matInput formControlName="nombre-paciente" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cédula</mat-label>
    <input matInput formControlName="cedula" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput formControlName="correo" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Profesional asignado</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput formControlName="fecha" required />
  </mat-form-field>
</form>
