<app-navbar [sidenav]="sidenav"></app-navbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <button
      class="sidenav-button"
      mat-button
      aria-hidden="false"
      aria-label="Icono del botón de control de citas"
      (click)="goToHome()"
    >
      <mat-icon class="sidenav-button-icon">home</mat-icon>Control de citas
    </button>
    <button
      class="sidenav-button"
      mat-button
      aria-label="Icono del botón de reportes"
      (click)="goToReports()"
    >
      <mat-icon class="sidenav-button-icon">summarize</mat-icon>Reportes
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
