<app-navbar [sidenav]="sidenav"></app-navbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <button
      class="sidenav-button"
      mat-button
      aria-hidden="false"
      aria-label="Icono del botón de control de citas"
      (click)="goTo('/home')"
    >
      <mat-icon class="sidenav-button-icon">home</mat-icon>Control de citas
    </button>
    <button
      class="sidenav-button"
      mat-button
      aria-label="Icono del botón de reporte de citas por paciente"
      (click)="goTo('generate-report')"
    >
      <mat-icon class="sidenav-button-icon">summarize</mat-icon>Reporte de citas por paciente
    </button>
    <button
      class="sidenav-button"
      mat-button
      aria-label="Icono del botón de reporte de cantidad de citas por persona"
      (click)="goTo('generate-report-count')"
    >
      <mat-icon class="sidenav-button-icon">summarize</mat-icon>Reporte de cantidad de citas por
      persona
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
